body {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: 900;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer !important;
}
button:hover {
  opacity: 0.8;
}
button.red {
  background-color: red;
}
button.green {
  background-color: green;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

input::placeholder {
  opacity: 0.5;
}

table {
  border-collapse: collapse;
}
table,
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}
th {
  background-color: #f9f9f9;
  font-weight: 900;
}
